html, body {
	background-color: #606060;
	color: #FFFFFF;
	font-family: "Segoe UI Light";
	padding: 0px;
	margin: 0px;
}
input, button {
	margin: 0px;
	padding: 0px;
	border: 0px;
	color: #FFFFFF;
}
main {
	margin-top: 10px;
	text-align: center;
}
.heading {
	padding: 10px;
	width: 100%;
	background-color: #303030;
	display: inline-block;
}
.heading a {
	color: #FFFFFF;
	font-style: none;
	text-decoration: none;
}
.heading h2 {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
.button_standard {
	margin-top: 20px;
	margin: 10px;
	display: inline-block;
	position: relative;
	background-color: #303030;
	-o-transition: 0.15s;
	-moz-transition: 0.15s;
	-webkit-transition: 0.15s;
	transition: 0.15s;
	text-align: left;
	padding: 10px;
}
.button_standard:hover {
	background-color: #404040;
	cursor: pointer;
}

a.outlink {
	text-decoration: underline;
}
a.outlink:hover {
	color: gold;
}