{% extends 'base.html' %}
{% block content %}
	<form method=post enctype=multipart/form-data>
		<div class="button_standard">
			<label>Upload red spectrum image</label></br><input type=file name=redf />
		</div>
		<div class="button_standard">
			<label>Upload green spectrum image</label></br><input type=file name=greenf />
		</div>
		<div class="button_standard">
			<label>Upload blue spectrum image</label></br><input type=file name=bluef />
		</div>
		</br>
		<input type=submit class="button_standard" value="Upload Files">
	</form>
{% endblock %}